!!!
%html
  %head
    %title BurbyChat
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta(name="viewport" content="width=device-width,initial-scale=1")

  %body
    - url = url_for(action: 'ask_new_message', controller: 'messages')
    #notifications{data:{url: url}}
    .container
      .row(style="margin-top:20px; margin-bottom:20px")
      
        .col-xs-8
          
          %strong Caro AleBurbeTeScrivo
          
        .col-xs-4
          .pull-right= link_to 'Esci', 'users/new'
      
      .row
        .col-sm-12= yield