!!!
%html
  %head
    %title BurbyChat
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1")

  %body
    - url = url_for(action: 'ask_new_message', controller: 'messages')
    %audio{src: url_for('urino.mp3'), volume:"60"}
    #notifications{data:{url: url}}
    .row(style="margin: 0px 20px; position: fixed; top: 0;z-index:100; width: 100%; background-color: #fff; padding:0; margin:0; padding-top: 20px; padding-bottom: 20px; padding-right: 20px; border-bottom: 1px solid #ccc")
      
      .col-xs-8
        
        %strong 
          - if @user.present? and @user.name.present?
            = truncate @user.name
          - else
            AleBurbeTeScrivo
        
      .col-xs-4
        - if controller_name == "messages"
          .pull-right= link_to 'Esci', 'users/new'
    .container-fluid

      
      .row
        .col-sm-12= yield